body {
  background-color: khaki;
  font-family: Raleway, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

section {
  display: flex;
}

article {
  flex: 1;
}
