@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.special {
  font-size: 2rem;
  color: white;
  min-height: 400px;
  background-image: url(./images/special-carissa-gan.jpg);
  background-repeat: no-repeat;
  background-size: 1400px 600px;
  background-position: center top;
  border-radius: 10px;
  padding: 20px;
  object-fit: cover;
}

.special p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 250px;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

header > img {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
}

.nav-bar {
  list-style: none;
  text-align: center;
  word-spacing: 0.5rem;
}

nav li {
  display: inline-block;
}

section {
  display: flex;
  border: 2px none;
  justify-content: center;
}

article {
  flex: 1;
}

article img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.item {
  width: 450px;
  height: 450px;
  background-color: rgb(223, 237, 241);
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: scroll;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  flex: 1;
}

footer img {
  width: 50px;
  height: 100px;
}

a {
  text-decoration: none;
  color: rgb(6, 107, 196);
  font-weight: bold;
}

a:hover {
  color: green;
}
